<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
	<!-- https://reqres.in/api/users?page=2 -->
	<!-- https://www.ndtv.com/business -->

	<test name="Flight_SearchBox">
		<parameter name="url" value="https://www.cleartrip.com/" />
		<classes>
			<class name="com.coffeebeansdemo.testscripts.FlightSearch"/>
		</classes>
	</test>

</suite>
